body{
    margin: 0;
}
.fl {
    float: left;
}

.fr {
    float: right;
}

.clear::after {
    content: "";
    display: block;
    clear: both;
    width: 0;
}
h1{
    text-align: center;
    margin-top: 50px;
}
label{
    font-size: 20px;
    margin-left: 50px;
}
input,select{
    width: 180px;
    height: 50px;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
    padding-left: 20px;
    margin-left: 15px;
    font-size: 16px;
    border-radius: 15px;
    margin-bottom: 20px;
}
#typeform>div>label{
    width: 150px;
    text-align: right;
    display: inline-block;
    margin-top: 50px;
}


#pg{
    border: 1px solid darkblue;
}
.btn{
    margin-left: 240px;
}
.btn>button{
    height: 50px;
    width: 100px;
    color: white;
    font-weight: bold;
    font-size: 22px;
    border:none;
    margin-top: 50px;
}
#submitbtn{
    background-color: #60AF20;
    border-radius: 15px;
}
